/**************************TAG SELECROTS***************/

h1{
  color: black; font-size: 100px;
}
/*
img{
  background-color: black;
}

*/
/**************************CLASS SELECROTS***************/
.Fries1{
  background-color: green;
}
.Fries2{
  background-color: yellow;
}
/**************************ID SELECROTS***************/
#heading{
color: red;
}
